header {
  background-color: black;
  color: white;
  background-image: url(/assets/img/background-home.webp);
  background-size: cover;
  background-position: center;
  font-family: var(--main-font);
}

.header-row {
  padding: 0 100px;
}

.header-navbar ul li {
  padding: 0 10%;
}

.header-logo {
  width: 30%;
}
